// Custom css

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #F3F5F6;
}

.wrap {
    max-width: 758px;
}

#ember822, #ember825 {
    display: none;
}

#main-outlet {
    background-color: #fff;
    padding: 24px;
    margin-top: 120px;
    box-shadow: 0px 0px 10px #CAD7DC;
}

#main {
    overflow: hidden;
}

#create-topic {
    background: linear-gradient(180deg, #70BF54 0%, #569A3E 100%);
    border: 1px solid rgba(98, 168, 73, 0.4);
    box-sizing: border-box;
    border-radius: 50px;
    padding: 12px 24px;
    color: #fff;
}

#create-topic:hover {
    background: linear-gradient(180deg, #93E675 0%, #61AE46 100%);
    border: 1px solid rgba(98, 168, 73, 0.4);
}

.d-editor-button-bar > button {
    background: none;
}

.topic-footer-main-buttons > button, .widget-button, .select-kit-header {
    background: none;
    color: #595959;
    border: 1px solid #cad7dc;
}

#ember1014 {
    border: 1px solid #cad7dc;
    border-radius: 100px;
}

.topic-list th, .topic-list td {
    padding-top: 30px;
    padding-bottom: 30px;
}

.topic-list th {
    background-color: #fff;
}

.list-controls::before {
    content: "View posts by:";
    display: block;
    float: left;
    padding: 5px 17px 0 0;
}

.topic-list-item:hover {
  background: #FBFCFD;
}

.d-header-icons {
  margin: 0px -130px 0px 5px;
}

.d-header .title {
  margin-left: -60px;
}

span#top-navbar-links {
  margin: 22px 0px 0px 190px !important;
}

.nav-pills > li.active > a, .nav-pills > li > a.active {
  background-color: #64AE4A;
}

// Article Page
.topic-map {
  display: none;
}
